.gallery-page{
    background-color: #294D69;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: opacity 0.5s ease;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    text-align: center;
    z-index: 2; 
    visibility: hidden;
}
.image-wrapper:hover .overlay {
    opacity: 1;
    visibility: visible;
}

.image-gallery {
    padding-top: 5vh;
    padding-bottom: 5vh;
    column-count: 3; 
    column-gap: 10px; 
    max-width: 100%; 
    margin: 0 auto; 
}

.image-gallery img {
    width: 100%; 
    height: auto; 
    display: block; 
    margin-bottom: 10px; 
    break-inside: avoid; 
}

.title{
    text-align: center; 
    font-size: 2.5em; 
    color: white; 
    font-family: 'Helvetica Neue', sans-serif; 
    text-transform: uppercase; 
    letter-spacing: 1.5px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
    margin-top: 0;
    padding-top: 5vh;
}


@keyframes growAnimation {
    from {
      transform: scale(0.1, 0.1);
    }
    to {
      transform: scale(1, 1); 
    }
}
.image-wrapper{
    visibility: hidden;
    position: relative;
    margin-bottom: 10px;
    break-inside: avoid;
}
.image-wrapper .grow {
    visibility: visible;
    animation: growAnimation 0.5s forwards;
}