.container{
    display:grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
    background-color: #112A3C;
    color:white;
}
.image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
}

.quote-form {
    width: 100%;
    
}

.quote-form h2,
.quote-form p {
    text-align: center;
}

.quote-form input,
.quote-form textarea,
.quote-form select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
    border:#294D69;
    background-color: #294D69;
    color:white;
}

.quote-form input:focus,
.quote-form select:focus {
    border: 1px solid  #4B86B4;
    background-color: #294D69;
}

.quote-form button {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
